@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}
:root {
  --bg-main: #0a424e
}
body {
  font-family: 'Tajawal', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}