@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}
:root {
  --bg-main: #0a424e
}
body {
  font-family: 'Tajawal', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--bg-main);
  border-radius: 50%;

  animation: spin 1s ease-in  infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
